<h1>Advent of Code 2020</h1>

<div class="calendar unselectable">
    <div class="calendarRow" *ngFor="let row of dayRows">
        <div class="calendarDay" [class.graySquare]="day.number < 0" [class.activeDay]="day.hasSolution"
            *ngFor="let day of row;" (click)="day.hasSolution && scrollToAnchor('day' + day.number)">
            <div>
                <p>
                    {{day.number > 0 ? day.number : ''}}
                </p>
            </div>
        </div>
    </div>
</div>

<h2>Test solutions from 2019</h2>

<div *ngFor="let solutionInfo of solutionInfos">
    <app-card [solutionInfo]='solutionInfo'></app-card>
</div>

<router-outlet></router-outlet>
