<article [id]="'day' + solutionInfo.day.toString()">
    <aside class="bigNumber">{{twoLetterDay}}</aside>
    <div>
        <aside class="solveButtonColumn">
            <button (click)="solve()" [disabled]="isBusy">Solve</button>
            <div class="footer">
                <a (click)="toggleInput()" nohref>Input</a>
                <a [href]="'https://github.com/sanraith/aoc2020/blob/main/src/solutions/day'+twoLetterDay+'.ts'"
                    target="_blank">Source</a>
                <a [href]="'https://adventofcode.com/2020/day/' + solutionInfo.day.toString()"
                    target="_blank">Puzzle</a>
            </div>
        </aside>
        <div class="title">{{solutionInfo.title}}</div>
        <div>
            <table class="solutionTable">
                <tr *ngFor="let result of results; let i = index">
                    <td>Part {{i + 1}}:</td>
                    <td *ngIf="result.value !== undefined" class="resultColumn">
                        <pre class="solutionResult">{{result.value}}</pre>
                    </td>
                    <td *ngIf="result.value === undefined" class="resultColumn">
                        <div *ngIf="result.onGoing && !result.percentage" class="meter animate blue">
                            <span style="width: 100%;"></span>
                        </div>
                        <div *ngIf="result.onGoing && result.percentage && result.percentage >= 1"
                            class="meter animate">
                            <span [style.width.%]="result.percentage"></span>
                        </div>
                    </td>
                    <td class="solutionTime" style="min-width: 6rem;">
                        <span class="unselectable">
                            ({{result.time === undefined ? '???' : result.time}}{{result.onGoing ? '+' : ''}} ms)
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <textarea [(ngModel)]="input" *ngIf="isInputFieldVisible" [rows]="5.5"></textarea>
</article>
