$vw: 960px;
$light-bgcolor: rgb(243, 229, 202);
$dark-fgcolor: rgb(81, 58, 45);
$extra1-color: rgb(173, 177, 122);
$extra2-color: rgb(106, 122, 69);
$extra3-color: rgb(221, 78, 64);
$extra2-gray-color: rgb(75, 78, 69);
